* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  body {
    font-size: 20px;
    background-color: lightblue;
    font-style: Trebuchet;
  }
  
  header{
    padding: 20px;
    margin-bottom: 20px;
    background: lightblue;
    
  }
 
#left {
  text-align: center;
  float: left;
  background-color: rgb(103, 204, 238);
  width: 25%;
  height:650px;
  /* box-shadow: 10px 10px 5px grey; */
  border: 2px solid;
  overflow: auto;
  font-style: Lucida;
}

#middle {
  text-align: center;
  float: left;
  font-size: 25px;
  font-style: Lucida;
  background-color:lightgreen;
  width: 50%;
  height: 650px;
  overflow: auto;
  border: 2px solid;
  border-color:rgb(61, 61, 32) ;
  padding: 2%;
}

aside {
  font-style: Lucida;
    background-color:rgb(103, 204, 238);
    width: 25%;
    border: 2px;
    float: right;
    padding: 20px;
    margin-right: 30px;
    height: 500px;
    /* box-shadow: 10px 10px 5px grey; */
    
}
/* #division {
   float: left;
   padding: 10px;
   margin-left: left;
   background-color: greenyellow;
   box-shadow: 10px 10px 5px grey;
   border: 1px solid;
  
} */
.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 12px;
  font-style: italic;
}

div img {
  width: 90%;
  height: auto;
  opacity: 0.3;
}

#right {
  text-align: center; 
  float: right;
  display: block;
  background-color: rgb(103, 204, 238);
  width:25%;
  height:650px;
  /* box-shadow: 10px 10px 5px grey; */
  overflow: auto;
  border: 2px solid;
  font-style: Lucida;
}

footer {
  background-color:lightblue;
  padding: 1%;
  margin: 5px;
  clear: both;
  color: black;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-style: bold;
}

/* //this is for the save the park as a favorite */
.favBtn {
  font-style: italic;
  border: 5px;
  color: #11a75c;
  margin-left: 15px;
  border-style: ridge;
  background: rgb(211, 235, 235);
}

/* //this is for the Clean favorite list button */
.cleanFav {
  font-style: italic;
  border: 5px;
  color: #11a75c;
  margin-left: 15px;
  background: rgb(211, 235, 235);
  border-style: ridge;


}

/* //this is for the list of the favorite parks */
.favParkBtn {
  font-style: italic;
  display: block;
  margin-left: 15px;
  /* color: #11a75c; */
  margin-left: 15px;
  background: rgb(211, 235, 235);
  border-style: ridge;
}

/* //this is for the list of the park buttons after they select a state */
.parkBtn {
  font-style: italic;
  display: block;
  color: #11a75c;
  margin-left: 15px;
  background: rgb(211, 235, 235);
  border-style: ridge;

}

/* .imgDayIcon .icon {

  width: 10%;
  height: 5px;
   */



 



