* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  body {
    font-size: 20px;
    background-color: lightblue;
    font-style: Trebuchet;
  }
  
  header{
    padding: 20px;
    margin-bottom: 20px;
    background: lightblue;
    
  }
 
#left {
  text-align: center;
  float: left;
  background-color: rgb(103, 204, 238);
  width: 25%;
  height:650px;
  border: 2px solid;
  overflow: auto;
  font-style: Lucida;
}

#middle {
  text-align: center;
  float: left;
  font-size: 25px;
  font-style: Lucida;
  background-color:lightgreen;
  width: 50%;
  height: 650px;
  overflow: auto;
  border: 2px solid;
  border-color:rgb(61, 61, 32) ;
  padding: 2%;
}

aside {
  font-style: Lucida;
    background-color:rgb(103, 204, 238);
    width: 25%;
    border: 2px;
    float: right;
    padding: 20px;
    margin-right: 30px;
    height: 500px;
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 12px;
  font-style: italic;
}

.banner {
  width: 90%;
  height: auto;
  opacity: 0.3;
}

#right {
  text-align: center; 
  float: right;
  display: block;
  background-color:burlywood;
  width:25%;
  height:650px;
  overflow: auto;
  border: 2px solid;
  font-style: Lucida;
}

#left {
  background-color: burlywood;
}

footer {
  background-color:lightblue;
  padding: 1%;
  margin: 5px;
  clear: both;
  color: black;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-style: bold;
}

/* //this is for the save the park as a favorite */
.favBtn {
  font-style: normal;
  font: bold;
  border-color: black;
  border: 5px;
  color: black;
  margin-left: 15px;
  border-style: ridge;
  background: rgb(211, 235, 235);
}

/* //this is for the Clean favorite list button */
.cleanFav {
  border-color: black;
  font-style: normal;
  font: bold;
  border: 5px;
  color: darkgreen;
  margin-left: 15px;
  background: rgb(211, 235, 235);
  border-style: ridge;


}

/* //this is for the list of the favorite parks */
.favParkBtn {
  font-style: normal;
  border-color: black;
  font: bold;
  display: block;
  margin: 5px;
  margin-left: 100px;
  background: rgb(211, 235, 235);
  border-style: ridge;
}

/* //this is for the list of the park buttons after they select a state */
.parkBtn {
  font-style: normal;
  font: bold;
  display: block;
  margin: 5px;
  margin-left: 100px;
  background: rgb(211, 235, 235);
  border-style: ridge;

}

.parkList {
  margin-right: 40px;
}

#date {
  font-weight: bold;
}

.card-body {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 25px;
  padding: 25px;
}

/* On mouse-over, add a deeper shadow */
.card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-deck {
  padding: 16px;
}

/* The width is 100%, when the viewport is 800px or smaller */
@media screen and (max-width:800px) {
  #left, #right, #middle {
    width:100%; 
  }
}



